%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%visuallyhidden {
  @include visuallyhidden();
}

%visuallyshow {
  @include visuallyshow();
}

//
// Fonts
//
%sans-serif {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

%serif {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

//
// Font Styling
//
%bold {
  font-weight: 900;
}

%italic {
  font-style: italic;
}

//
// Icons
//
%icon {
  font-family: '#{$c-font-name}';  // font name is defined in the variables partial
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

%menu-icon {
  @extend %icon;
  content: "\e601";
}