img {
  // max-width: 100% !important;
  // height: auto !important;
  max-width: 100%;
  height: auto;


  //when IMCE adds inline styling for floats, add margins
  &[style*="float:left"] {
    margin-right: 1em;
    margin-bottom: 1em;
  }

  //when IMCE adds inline styling for floats, add margins
  &[style*="float:right"] {
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

// @media \0screen { //Prevent height distortion in IE8.
//   img {
//     width: auto;
//   }
// }